header {
  margin-bottom: 40px;
}
#doc-container {
    width: 70%;
    float:right;

}
#nav {
    margin-top:20px;
}
li.tocify-item.active {
    background-color: #C8A2C8;
}

div.menu-option {
  border:none;
  margin-bottom:40px;
  .thumbnail {
    border:none;
  }
}

.nav-options {
  margin-left:200px;
  margin-right:200px;
}