@import "../../files/less/variables.less";
@import "../../files/less/mixins.less";

@soomla-color: #ff921e;;
@platforms-color: #00a89c;
@downloads-color: #3fa8f4;
@university-color: #7ac843;
html, body { height: 100% }
body {
  padding-top:70px;
}
a:hover , a:focus, a {
  text-decoration:none;
}
a {
  .user-select(none);
}
#nav {
  right:0;
  max-height:80%;
  border:none;
}

#tocify-header0 {
  background-color:#f0f9ff;
  & > li:first-of-type {
    background-color:#1676A6;
    padding-top: 5px;
    padding-bottom: 5px;

    & a {
      display:inline;
      font-family: 'Open Sans', sans-serif;
      font-weight:900;
      font-size: 16px;
      color: #ffffff;
      &:focus, &:hover {
        background-color:#1676A6;
      }
    }
  }
  [data-tag="2"] {
    & li a {
      font-family: 'Open Sans', sans-serif;
      font-weight:400;
      font-size: 16px;
      color: #1676A6;
      padding-top:2px;
      padding-bottom:2px;
      &:focus, &:hover {
        font-weight:900;
        background-color:#F0F9FF;
      }
    }
    & li.active a {
      font-weight:600;
    }
  }
  [data-tag="3"] {
    & li a {
      font-family: 'Open Sans', sans-serif;
      font-weight:400;
      font-size: 16px;
      color: #666666;
      padding-top:2px;
      padding-bottom:2px;
      padding-left:50px;
      &:focus, &:hover {
        font-weight:900;
        background-color:#F0F9FF;
      }
    }
   & li.active a {
     font-weight:600;
   }

  }

}

#knowledge-navbar {
  background-color:#3Fa8F4;
  #dropdown-container {
    margin-right:100px;
    margin-top:15px;
    #nav-toggle {
      margin-top:10px;
      .border-top-radius(3px);
      .border-bottom-radius(3px);
      background: #1676a6;
      padding: 13px 150px 11px 0px;
    }
    #nav-list {
      min-width:150px;
      border:none;
      box-shadow:none;
      border-radius:0;
      background-color: #4c4c4c;
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-weight:600;
      font-size: 13px;
      li {
        padding-top:10px;
        padding-bottom:10px;
        margin-left:10px;

      }
    }
  }
}
.nav-options {
  a {
    text-decoration: none;
  }
  .user-select(none);
  background-color:#F0F9FF;
  @media all and (min-width: 1125px) {
    padding-left:200px;
    padding-right: 200px;
    padding-top:120px;
  }
  @media all and (max-width: 1124px) {
    padding-left:120px;
    padding-right: 120px;
    padding-top:80px;
  }

  .menu-option {
    border:none;
    margin-bottom:150px;
    background-color:inherit;
    min-height:160px;
    .thumbnail {
      border:none;
    }
    .option-image {
      position:relative;
      overflow:hidden;
      height:118px;
      width:118px;
      img {
        position:absolute;
        width:118px;
        height:354px;
        top:0;
        left:0;
        &.hover {
          top:-118px;
        }
        &:active {
          top:-236px;
        }
      }
    }
    .option-text-container {

      .option-head-text {
        font-family: 'Open Sans', sans-serif;
        font-weight:600;
        font-size: 22px;
        color: #4D4D4D;
      }
      .option-text {
        font-family: 'Open Sans', sans-serif;
        font-weight:400;
        font-size: 15px;
        color: #666666;
        margin-top:10px;
        line-height:26px;
      }
    }
  }
}
.nav-options-sm {
  a {
    text-decoration: none;
  }
  .user-select(none);
  background-color:#F0F9FF;
  padding-left:100px;
  padding-right: 100px;
  padding-top:120px;
  .menu-option {
    border:none;
    margin-bottom:150px;
    background-color:inherit;
    min-height:300px;
    .thumbnail {
      border:none;
    }
    .option-image {
      position:relative;
      overflow:hidden;
      height:59px;
      width:59px;
      margin-bottom:5px;
      margin-left:10px;
      img {
        position:absolute;
        width:59px;
        height:295px;
        top:0;
        left:0;
        &.soomla.hover {
          top:-59px;
        }
        &.university.hover {
          top:-118px;
        }
        &.downloads.hover {
          top:-177px;
        }
        &.platforms.hover {
          top:-236px;
        }
      }
    }
    .option-text-container {

      .option-head-text {
        font-family: 'Open Sans', sans-serif;
        font-weight:600;
        font-size: 22px;
        color: #4D4D4D;
        &.soomla.hover {
          color: @soomla-color;
        }
        &.university.hover {
          color: @university-color;
        }
        &.downloads.hover {
          color: @downloads-color;
        }
        &.platforms.hover {
          color:@platforms-color;
        }
      }
      .option-text {
        font-family: 'Open Sans', sans-serif;
        font-weight:400;
        font-size: 15px;
        color: #666666;
        margin-top:10px;
        line-height:26px;
      }
    }
  }
}



#know-soomla {
  .user-select(none);
  text-align:center;
  background-color:white;
  @media all and (min-width: 1025px) {
    padding-top:80px;
    padding-bottom:80px;
  }
  #jumbo-main-text{
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    font-size: 36px;
    color: #4D4D4D;
  }
  #jumbo-small-text {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    font-size: 16px;
    color: #969696;
    margin-top:10px;
  }
}

.dropdown-container {
  display:inline;
  .dropdown-menu {
    & li {
      padding-right:20px;
    }
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size: 16px;
    padding-top:10px;
    padding-bottom:10px;
    border: #CCEBFF solid 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 15px;
    left:-60px;

    &:after {
      content: "";
      position: absolute;
      top: -15px;
      left: 61px;
      display: block;
      width: 0;
      z-index: 1;
    }
    &:before {
      content: "";
      position: absolute;
      top: -10px;
      left: 65px;
      border-style: solid;
      border-width: 0 9px 9px;
      border-color: #CCEBFF transparent;
      display: block;
      width: 0;
      z-index: 0;
    }


    a {
      color:#ffffff;
    }

  }
  .soomla {
    background-color:@soomla-color;
    & li > a:hover, & li > a:focus, & li:focus, & li:hover {
      background-color:#4D4D4D;
      & a {
        color:#ffffff;
      }
    }
  }
  .platforms {
    background-color: @platforms-color;
    & li > a:hover, & li > a:focus, & li:focus, & li:hover {
      background-color:#4D4D4D;
      & a {
        color:#ffffff;
      }
    }
  }
  .university {
    background-color: @university-color;
    & li > a:hover, & li > a:focus, & li:focus, & li:hover {
      background-color:#4D4D4D;
      & a {
        color:#ffffff;
      }
    }
  }
  .downloads {
    background-color: @downloads-color;
    & li > a:hover, & li > a:focus, & li:focus, & li:hover {
      background-color:#4D4D4D;
      & a {
        color:#ffffff;
      }
    }
  }
  .l3-gray {
    & li > a:hover, & li > a:focus, & li:focus, & li:hover {
      background-color:#ffffff;
      & a {
        color:#000000;
      }
    }
  }
}

.article-content {
  margin-top:60px;
}

#article-nav {
  background-color:#ffffff;
  margin-bottom:0px;
  padding-bottom:0px;
  #article-header {
    display:inline;

    #article-name {
      font-family: 'Open Sans', sans-serif;
      font-weight:600;
      font-size: 40px;
      color: #4D4D4D;
      display:inline-block;
      vertical-align:middle;
    }

  }
  .dropdown-container .dropdown-menu:not(.l3-gray) {
    margin-top:30px;

  }
}

#doc-container {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size: 16px;
  color: #4D4D4D;
  margin-top: 0px;

  h1 {
    visibility:hidden;
  }
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    font-size: 34px;
    color: #4D4D4D;
    margin-top:40px;
    margin-bottom:40px;
  }
  h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    font-size: 26px;
    color: #4D4D4D;
    margin-top:30px;
    margin-bottom:30px;
  }
  a {
    color: #3Fa9F5
  }
  ul li, ol li {
    color: #1676a6;
  }
  ul ul li, ul ol li, ol ul li, ol ol li {
    color: #4590A5;
  }

  ul ul ul li, ul ul ol li, ul ol ol li, ul ol ul li, ol ol ol li, ol ul ul li, ol ol ul li, ol ul ol li {
    color: #666666;
  }
  pre {
    margin-top: 20px;
    margin-bottom:20px;
    padding:0;
    border:none;
  }
  p {
    margin-top:10px;
  }
  code.hljs {
    background-color: #F0F9FF;
  }
  div {
    margin-top:-50px;
    padding-top:50px;
  }
}
#collapse-container {
  display:inline-block;
  width:20px;
  height:20px;

}
#page-container {
  @media all and (max-width: 1080px) {
    padding-left:50px;
    padding-right:250px;
  }
  @media all and (min-width: 1081px) {
    padding-left: 100px;
    padding-right: 350px;
  }


}
#nav-list-l3 {
  background: #4C4C4C;
  left:-45px;
  margin-top:30px;
}

span.minus {
  background-image: url('/img/Minus.png');
  display:inline-block;
  height:2px;
  width:9px;
  padding-bottom:5px;
  background-repeat: no-repeat;
}
span.plus {
  background-image: url('/img/Plus.png');
  display: inline-block;
  height:10px;
  width:9px;
  background-repeat:no-repeat;
}
.soomla-box {
  .border-bottom-radius(3px);
  .border-top-radius(3px);
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size: 15px;
}
.info-box {
  .soomla-box;
  color:#0373B8;
  background: #C5EEF7 url('/img/Info.png') 25px center no-repeat;
}

.warning-box {
  .soomla-box;
  color:#EF582E;
  background: #FFDFA3 url('/img/Error.png') 25px center no-repeat;

}
code {
  background-color:#FFFFFF;
  color: #3Fa9F5
}

#main-menu {
  margin-left:50px;
  background-image: url('/img/menu/Menu-BG.png');
  background-repeat: no-repeat;
  background-position:bottom;
  width: 299px;
  height: 350px;
  top:-247px;
  position: fixed;
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  -ms-transition: top 0.5s ease-in-out;
  -o-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  &:hover {
    top:0px;

  }
  ul {
    margin-top:60px;
    li {
      font-family: 'Open Sans', sans-serif;
      font-weight:500;
      font-size: 18px;

      a {
        color:#ffffff;
      }
      &:hover a {
        color: #4B90A5;
        text-decoration: underline;
      }

    }
  }
}

#header-logo {
  margin-left:150px;
}

.dropdown:hover > ul{
  display: block;
  margin:0;
}