<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!--<add name="X-UA-Compatible" value="IE=edge" />-->
      </customHeaders>
    </httpProtocol>
    <!-- Optional static content caching
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge"  cacheControlMaxAge="7.00:00:00" />
    </staticContent>-->
    <rewrite>
      <rules>
        <!-- Optional canonical url rule
        <rule name="CanonicalHostNameRule1">
            <match url="(.*)" />
            <conditions>
                <add input="{HTTP_HOST}" pattern="^mydomain\.com$" negate="true" />
            </conditions>
            <action type="Redirect" url="http://mydomain.com/{R:1}" />
        </rule>-->
        <rule name="LowerCaseUrls" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <action type="Redirect" url="{ToLower:{URL}}" />
        </rule>
        <rule name="RemoveTrailingSlash" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
        <rule name="RemoveHTMLExtensions" stopProcessing="true">
          <match url="^(.*)\.html$" />
          <action type="Redirect" url="{R:1}" appendQueryString="true" />
        </rule>
        <rule name="RewriteHTMLExtensions" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>