#hierarchy-nav {
  margin-bottom: 0px;
  padding-bottom: 0px;
  #article-header {
    display: inline-block;

    #article-name {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 40px;
      color: #4D4D4D;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }

  }

  .dropdown-toggle {
    display: inline-block;
  }

  .dropdown-menu-icon {
    .square(44px);
  }

  .breadcrumb-icon {
    display: inline-block;
    margin: 0 4px;
  }
}

#knowledge-navbar #hierarchy-nav {
  vertical-align: top;
  margin-top: 7px;
  display: inline-block;
  .clearfix;
  margin-top: 6px;

  .dropdown-menu-icon {
    .square(36px);
  }

  #article-name {
    display: none;
  }

  // Space the dropdown menu downwards a bit

  .dropdown-container .dropdown-menu, #nav-list-l3 {
    margin-top:20px;
  }
}

.dropdown-container {
  display:inline-block;
  .dropdown-menu {
    font-family: 'Open Sans', sans-serif;
    font-weight:200;
    font-size: 16px;
    border: #CCEBFF solid 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 15px;
    left:-55px;
    padding: 0;
    .box-shadow(1px 2px 2px 1px rgba(0, 0, 0, 0.3));

    &:after {
      content: "";
      position: absolute;
      top: -15px;
      left: 61px;
      display: block;
      width: 0;
      z-index: 1;
    }
    &:before {
      content: "";
      position: absolute;
      top: -10px;
      left: 65px;
      border-style: solid;
      border-width: 0 9px 9px;
      border-color: #CCEBFF transparent;
      display: block;
      width: 0;
      z-index: 0;
    }


    a {
      font-weight: 200;
      color:#fff;
      padding-top: 6px;
      padding-bottom: 6px;
    }

  }
  .soomla {
    background-color:@soomla-color;
    & li > a:hover, & li > a:focus, & li:focus, & li:hover {
      background-color:#4D4D4D;
      & a {
        color:#ffffff;
      }
    }
  }
  .platforms {
    background-color: @platforms-color;
    & li > a:hover, & li > a:focus, & li:focus, & li:hover {
      background-color:#4D4D4D;
      & a {
        color:#ffffff;
      }
    }
  }
  .university {
    background-color: @university-color;
    & li > a:hover, & li > a:focus, & li:focus, & li:hover {
      background-color:#4D4D4D;
      & a {
        color:#ffffff;
      }
    }
  }
  .downloads {
    background-color: @downloads-color;
    & li > a:hover, & li > a:focus, & li:focus, & li:hover {
      background-color:#4D4D4D;
      & a {
        color:#ffffff;
      }
    }
  }
  .l3-gray {
    & li > a:hover, & li > a:focus, & li:focus, & li:hover {
      background-color:#ffffff;
      & a {
        color:#4D4D4D;
      }
    }
  }
}

#nav-list, #nav-list-l2, #nav-list-l3 {
  text-align: left;

  .link-current {
    font-weight: 600;
  }
}

//
// Navigate between articles in same level
//

#nav-list-l3 {
  background: #4C4C4C;
  left: -55px;
  margin-top: 5px;

}
