@import "../../bower_components/bootstrap/less/bootstrap";

//
// Override Bootstrap variables
//
@grid-gutter-width: 80px;


@soomla-color: #ff921e;;
@platforms-color: #00a89c;
@downloads-color: #3fa8f4;
@university-color: #7ac843;
@nav-grid-bg-color: #f0f9ff;



//
// Import all components
//

@import "components/layout";
@import "components/header";
@import "components/main-menu";
@import "components/hierarchy-nav";
@import "components/hierarchy-levels";
@import "components/article";
@import "components/article-nav";


//timeline styling

.wrapper{
  width: 1024px;
  margin: 0 auto;
}
.top-section {
    margin: 0 auto;
  h2{
    text-align: center;
    font-size: 40px;
    margin-top: 70px;
  }

  }

.social {
  float: right;
  color: #ffffff;
  line-height: 30px;


  .twitter {
    width: 100px;
    height: 30px;
    background-color: #29ABE2;
    border-radius: 3px;
    float: left;
    margin-right: 20px;
    font-size: 17px;
    img{
      margin-left: 10px;
    }
    span{
      margin-left: 10px;
    }
  }
  .facebook {
    width: 100px;
    height: 30px;
    background-color: #355396;
    border-radius: 3px;
    float: left;
    margin-right: 20px;
    img{
      margin-left: 10px;
    }
    span{
      margin-left: 20px;
    }
  }
  .google {
    width: 100px;
    height: 30px;
    background-color: #BD2226;
    border-radius: 3px;
    float: left;
    margin-right: 20px;
    img{
      margin-left: 10px;
    }
    span{
      margin-left: 10px;
    }
  }
}
.filter-box{
  margin-top:75px;
  margin-left: -80px;

  span{
    font-size: 15px;
    color: #666666;
    float: left;
    display: block;
    font-weight: bold;
    line-height: 50px;
    margin-left: 3%;

  }
  #clear-filter{
    width: 64px;
    text-align: left;
    color: #979797;
    text-decoration:underline;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
  }
  .filters{
    ul{
      margin: 0 auto;
      height: 50px;

    }
    ul li{
      cursor: pointer;
      list-style: none;
      float: left;
      text-align: center;
    }
    ul li img{
      cursor:pointer;

    }
    ul li .filter-title{
      text-align: center;
      margin-top: 2px;
      font-size: 14px;
      color: #979797;
      font-weight: lighter;
      width: 55px;
    }
  }
}

  //    background image selected
   .highway-selected {
    background-image: url("/img/timeline-img/Highway-Selected.png");
    width: 50px;
    height: 50px;
  }
.highway-clear{
   background-image: url("/img/timeline-img/Highway-Clear-Gray.png");
   width: 50px;
   height: 50px;
}
  .grow-selected{
    background-image: url("/img/timeline-img/Grow-Selected.png");
    width: 50px;
    height: 50px;
  }
.grow-clear{
  background-image: url("/img/timeline-img/Grow-Clear-Gray.png");
  width: 50px;
  height: 50px;
}

  .storefront-selected{
    background-image: url("/img/timeline-img/Storefront-Selected.png");
    width: 50px;
    height: 50px;
  }
.storefront-clear{
  background-image: url("/img/timeline-img/Storefront-Clear-Gray.png");
  width: 50px;
  height: 50px;
}
  .blogpost-selected{
    background-image: url("/img/timeline-img/BlogPost-Selected.png");
    width: 50px;
    height: 50px;
  }
.blogpost-clear{
  background-image: url("/img/timeline-img/BlogPost-Clear-Gray.png");
  width: 50px;
  height: 50px;
}
  .opensource-selected{
    background-image: url("/img/timeline-img/OpenSource-Selected.png");
    width: 50px;
    height: 50px;
  }
.opensource-clear{
  background-image: url("/img/timeline-img/OpenSource-Clear-Gray.png");
  width: 50px;
  height: 50px;
}
  .ios-selected{
    background-image: url("/img/timeline-img/iOS-Selected.png");
    width: 50px;
    height: 50px;
  }
.ios-clear{
  background-image: url("/img/timeline-img/iOS-Clear-Gray.png");
  width: 50px;
  height: 50px;
}
  .android-selected{
    background-image: url("/img/timeline-img/Android-Selected.png");
    width: 50px;
    height: 50px;
  }
.android-clear{
  background-image: url("/img/timeline-img/Android-Clear-Gray.png");
  width: 50px;
  height: 50px;
}
  .unity-selected{
    background-image: url("/img/timeline-img/Unity-Selected.png");
    width: 50px;
    height: 50px;
  }
.unity-clear{
  background-image: url("/img/timeline-img/Unity-Clear-Gray.png");
  width: 50px;
  height: 50px;
}
 .cocos2dx-selected{
    background-image: url("/img/timeline-img/Cocos2dx-Selected.png");
    width: 50px;
    height: 50px;
  }
.cocos2dx-clear{
  background-image: url("/img/timeline-img/Cocos2dx-Clear-Gray.png");
  width: 50px;
  height: 50px;
}
  .meetups-selected{
    background-image: url("/img/timeline-img/Meetups-Selected.png");
    width: 50px;
    height: 50px;
  }
.meetups-clear{
  background-image: url("/img/timeline-img/Meetups-Clear-Gray.png");
  width: 50px;
  height: 50px;
}
  .companyevents-selected{
    background-image: url("/img/timeline-img/CompanyEvents-Selected.png");
    width: 50px;
    height: 50px;
  }
.companyevents-clear{
  background-image: url("/img/timeline-img/CompanyEvents-Clear-Gray.png");
  width: 50px;
  height: 50px;
}

.filters{
  ul li{
        list-style: none;
        float: left;

  }
}
#main-description{
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  font-size: 16px;
  color: #969696;
  margin-top:10px;
  text-align: center;
}

.line-part{
  background-image: url("/img/timeline-img/Shadow.png");
  width: 100%;
  height: 14px;
  margin-top: 80px;
}

.timeline{
  .vertical-line{
    width: 5px;
    height: 2000px;
    background-color: #d7e4ee;
    position: relative;
    margin-left: 150px;
    top: -13px;
  }

}
.timeline-events{
  font-family: 'Open Sans', sans-serif;
  position: relative;
  top: -1980px;
  font-weight:300;
  font-size: 16px;
  color: #969696;
  margin-bottom: 50px;
  min-height: 100px;
  .timeline-date{
    font-size: 15px;
    color: #000000;
    line-height: 50px;
    text-align: center;
  }
  .timeline-item-line{

  }
  .timeline-item-icon img{
    margin-left: -70px;
  }
  .timeline-text{
    padding-left: 20px;
    line-height: 25px;
    margin-top: 15px;

    span{
      font-size: 20px;
      font-weight: bold;
      color: #4d4d4d;
    }
    p{
      color: #666666;

    }
    ul{
      color: #666666;
    }
    ul li{

    }
    .download-button{
      width: 100px;
      height: 30px;
      line-height: 30px;
      background-color: #d7e4ee;
      color: #000000;
      font-family: arial;
      font-size: 14px;
      border-radius: 5px;
      padding-left: 9px;

    }
  }
}